.row {
    height: 83vh;
    overflow-y: auto;
    background-color: white;
    border-radius: 15%;
    width: 80vh;
    padding: 5%;
    margin-top:-2vh;
}

form  {
    height: 50vh;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border: 1px solid red;
}