<div class="row">
    <div class="col-md-11">
        <h1 class="text-light">Esperienze Lavorative</h1>
        <form [formGroup]="esperienzeForm" (ngSubmit)="onSubmit()">
            <div class="pulsantiera row sticky">
                <div class="col-md-4">
                    <button class="btn btn-primary centered" type="button"
                        (click)="aggiungiEsperienza(null,null,null,null,null)">Aggiungi</button>
                </div>
                <div class="col-md-4" *ngIf="getEsperienze().length > 1">
                    <button class="btn btn-success centered" type="submit">Invia Tutte</button>
                </div>
                <div class="col-md-4" *ngIf="getEsperienze().length > 1">
                    <button class="btn btn-danger centered" type="button" (click)="eliminaTutte()">Elimina
                        Tutte</button>
                </div>
            </div>
            <div formArrayName="esperienze">
                <div *ngFor="let esperienza of getEsperienze(); let i = index" [formGroupName]="i" class="f-group">
                    <div class="form-group">
                        <label for="titolo">Esperienza
                            <span class="help-block destra"
                                *ngIf="getEsperienze()[i].get('titolo').invalid && getEsperienze()[i].get('titolo').touched">
                                Inserisci la tua esperienza!
                            </span>
                        </label>
                        <input type="text" class="form-control" formControlName="titolo">
                    </div>
                    <div class="form-group">
                        <label for="datoreLavoro">Datore di Lavoro
                            <span class="help-block destra"
                                *ngIf="getEsperienze()[i].get('datoreLavoro').invalid && getEsperienze()[i].get('datoreLavoro').touched">
                                Inserisci il datore di lavoro!
                            </span>
                        </label>
                        <input type="text" class="form-control" formControlName="datoreLavoro">
                    </div>
                    <div class="form-group">
                        <label for="desc">Descrizione
                            <span class="help-block destra"
                                *ngIf="getEsperienze()[i].get('descrizione').invalid && getEsperienze()[i].get('descrizione').touched">
                                Inserisci una descrizione!
                            </span>
                        </label>
                        <textarea class="form-control" rows="3" formControlName="descrizione"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="dataIn">Data di Inizio
                            <span class="help-block destra"
                                *ngIf="getEsperienze()[i].get('dataInizio').invalid && getEsperienze()[i].get('dataInizio').touched">
                                Inserisci quando hai iniziato!
                            </span>
                        </label>
                        <input type="date" class="form-control" formControlName="dataInizio">
                    </div>
                    <div class="form-group">
                        <label for="dataFin">Data di Fine</label>
                        <input type="date" class="form-control" formControlName="dataFine"
                            (change)="onDataFineChange(i)">
                    </div>
                    <div class="form-group form-check">
                        <label>Lavoro ancora qui</label>
                        <input type="checkbox" (click)="adOggi(i)" class="form-check-input" style="margin-left: 0.5vw;"
                            [checked]="adOggiCheck[i]">
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <button class="btn btn-success centered" type="submit"
                                [disabled]="getEsperienze()[i].invalid" (click)="inviaSingola(i)">Invia</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-secondary centered" type="button"
                                (click)="resettaForm(i)">Svuota</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-danger centered" type="button"
                                (click)="eliminaEsperienza(i)">Elimina</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>