.foto {
   width: 18vh;
   height: 18vh;
   margin-left: 1.5vw;
   margin-top: 1.2vh;
   object-fit: cover;
   object-position: 100% 0;
}

.componente {
    padding: 1%;
    border: 0.3vh solid rgb(28, 28, 121);
}


h1 {
    font-size: 4vh;
}

h5 {
    font-size: 2vh;
}

h4 {
    font-size: 3vh;
}