.row {
    height: 83vh;
    background-color: white;
    border-radius: 15%;
    width: 80vh;
    padding: 5%;
    margin-top:-2vh;
}

form  {
    height: 65vh;
    overflow-y: auto;
    width: 30vw;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}