<div *ngIf="istruzione.length > 0">
<h4>Istruzione e Formazione</h4>
<div class="componente rounded">
    <div class="row" *ngFor="let ist of istruzione; let i = index">
        <div class="col-md-3">
            <h5>Inizio: </h5>
            <p>{{ist.dataInizio | date: "dd/MM/yyyy"}}</p>
            <h5>Fine:</h5>
            <p *ngIf="!isAttuale(i)">{{ist.dataFine | date: "dd/MM/yyyy"}}</p>
            <p *ngIf="isAttuale(i)">{{ist.dataFine}}</p>
        </div>
        <div class="col-md-8">
            <h4>{{ist.titolo}}</h4>
            <p>{{ist.presso}}</p>
            <h5>{{ist.descrizione}}</h5>
        </div>
        <hr style="width: 35.5vw; margin-left: 2vw;">
    </div>
</div>
</div>