<h4>Competenze Personali</h4>
<div class="componente rounded">
    <div class="row">
        <div class="col-md-3">
            <h5>Lingua Madre:</h5>
        </div>
        <div class="col-md-8">
            <h5>Italiano</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>Lingue Straniere:</h5>
        </div>
        <div class="col-md-8">
            <h5>Inglese</h5>
            <p>Ascolto: C1 - Lettura: C1 - Parlato: B2</p>
            <h5>Francese</h5>
        </div>
    </div>